
@import './variables';
@mixin content-paddings {
    padding-top: 1rem;
    padding-left: $content-padding;
    padding-right: $content-padding;
    padding-bottom: 0px;
}

@mixin line-bottom-dark {
    border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
}

@mixin line-bottom-light {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .3);
}

@mixin line-bottom-smooth {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .1);
}


@mixin section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

@mixin host-padding-top{
    padding-top: 5rem;
}