<section class="admin__section">
  <nav class="admin__nav">
    <ul>
        <li>
            <i routerLink="/admin" class="fa-solid fa-lock admin__nav__icon admin__nav__icon--list"
              ><span class="admin__nav__icon__text">admin</span></i
            >
          </li>
      <li>
        <i routerLink="product-list" class="fa-solid fa-list admin__nav__icon admin__nav__icon--list"
          ><span class="admin__nav__icon__text">listar produtos </span></i
        >
      </li>
      <li routerLink="product-add" routerLink="product-add">
        <i class="fa-solid fa-plus admin__nav__icon admin__nav__icon--plus"
          ><span class="admin__nav__icon__text">add produtos </span></i
        >
      </li>
    </ul>
  </nav>
</section>
<router-outlet></router-outlet>
