<section class="product-list-section">
  <div class="container">
      <header class="header">
          <h3 class="heading-3" >
              Lista de Produtos Cadastrados
          </h3>
      </header>
    <ul class="list">
      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/iphone12.jpg"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/teste.jfif"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      
      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/teste.jfif"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>
      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/teste.jfif"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>
      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/teste.jfif"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/teste.jfif"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/iphone12.jpg"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/iphone12.jpg"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <img
          class="list__item__img"
          src="../../../../assets/photos/iphone12.jpg"
        />
        <div class="list__item__text">
          <h4 class="heading-4">Iphone 11 Max Pro</h4>
          <h3 class="heading-3 list__item__text__price">R$15.000,00</h3>
          <div class="subtitle list__item__text__payment" >6x R25,83</div>

        </div>
        <div class="actions">
            <i class="fa-solid fa-pencil actions__icon "></i>
            <i class="fa-solid fa-circle-minus actions__icon"></i>
        </div>
      </li>
      
    </ul>
  </div>
</section>
