<div
  (click)="setFocous()"
  class="container"
  [ngClass]="{ activate: showSearch }"
>
  <div class="search__header">
    <div class="form-control search__control">
      <input
        id="search"
        #search_input
        class="control-input search__input"
        type="text"
        [(ngModel)]="search"
        (keyup.enter)="searchProduct($event)"
      />
      <div class="search__close-btn" (click)="toogle()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </div>

  <ul class="search-list">
    <li
      *ngFor="let product of productFiltred$ | async"
      (click)="navigate(product.id)"
      class="search-list__item"
    >
      {{ product.name }}
    </li>
  </ul>
</div>
