<section class="login-section">
  <div class="login-section__container">
    <app-card>
      <div class="card-content">
        <div class="title">Login</div>
        <form class="form">
          <div class="form-control">
            <label class="form-control__label" for="email">e-mail:</label>
            <input
              class="control-input control-input--email"
              type="email"
              name="email"
              id="email"
            />
          </div>

          <div class="form-control">
            <label class="form-control__label" for="password">senha:</label>
            <input
              class="control-input control-input--password"
              type="password"
              name="password"
              id="password"
            />
          </div>

          <div class="form-control">
            <button class="btn" type="submit">Logar</button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</section>
