<section class="login-section">
  <div class="login-section__container" *ngIf="!isUserLoggedin">
    <app-card>
      <h3 class="heading-3 title">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form-control">
          <label class="form-control__label" for="email">e-mail:</label>
          <input
            class="control-input control-input--email"
            type="email"
            formControlName="email"
            id="email"
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="password">senha:</label>
          <input
            class="control-input control-input--password"
            type="password"
            formControlName="password"
            id="password"
          />
        </div>

        <div class="form-control">
          <button class="btn" [disabled]="!loginForm.valid" type="submit">
            Logar
          </button>
        </div>
      </form>
    </app-card>
  </div>
  <div class="logout-section" *ngIf="isUserLoggedin">
    <div class="logout-section__container">
      <app-card >
        <header class="logout-section__title">
          <h3 class="heading-3">Sair</h3>
        </header>
        <div class="logout-section__btn">
          <button class="btn" type="button" (click)="logoutHandler()">
            Logout
          </button>
        </div>
      </app-card>
    </div>
  </div>
</section>
