@import "../../scss/variables";
@import "../../scss/typografy";
@import "../../scss/components";

:host {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__container {
    transform: translateY(-40%);
  }
}
.card-content {
  height: 100%;
  width: 26rem;
}

.title {
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding-left: 0.7rem;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 22rem;
  width: 100%;

  border-radius: 3px;
  padding: 0 2rem;
}

.control-input {
  margin: 0px;
  padding: 0px;
  height: 3rem;
  min-width: 70px;
}
