@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/icons/font-awasome/scss/fontawesome.scss";
@import "../../../scss/icons/font-awasome/scss/solid.scss";

:host {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}
.nav {
  background-color: black;
  display: block;
  width: 0;
  height: 100%;
  padding-top: 0;
  transition: all 3s ease-in;
  z-index: 100;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 20;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    @include line-bottom-light;

    &__user {
      height: 35px;

      &__icon {
        font-size: 3.9rem;
      }

      &__wellcome {
        padding: 1rem;
        &__text {
          display: inline-block;
        }
      }
    }
  }

  &__list {
    width: 100%;

    &__items {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      @include line-bottom-smooth;

      line-height: 4.5rem;
      padding-left: 11px;
      height: 4.5rem;

      &__icon {
        font-size: 1.8rem;
        transition: all 0.3s;

        &__text {
          display: inline-block;
          font-size: 1.3rem;
          padding-left: 15px;
          font-family: $font-family;
          font-weight: 400;
        }
      }
    }
  }
}

.open {
  animation-name: openNav;
  animation-duration: 0.3s;

  display: block;
  width: 60%;
  max-width: 300px;
}

.close {
  display: none;
  animation: closeNav 0.3s ease;
}

@keyframes openNav {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 60%;
    max-width: 300px;
    opacity: 100%;
  }
}

@keyframes closeNav {
  0% {
    width: 60%;
    opacity: 100%;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
