<div
  class="nav"
  (click)="closeNav()"
  [ngClass]="{ open: navToogle, close: !navToogle }"
>
  <div class="nav__container">
    <header class="nav__header">
      <div class="nav__header__user">
        <i class="fa-solid fa-circle-user nav__header__user__icon"></i>
      </div>
      <div class="nav__header__user__wellcome">
        <span class="nav__header__user__wellcome__text">Seja Bem Vindo!!</span>
        <span routerLink="login" class="nav__header__user__wellcome__text">{{user?.email || 'Entrar?' }}</span>
      </div>
    </header>
    <nav class="nav__list">
      <ul class="nav__list__items">
        <li (click)="onClick('')" class="nav__list__item">
          <i class="fa-solid fa-house-user nav__list__item__icon"
            ><span class="nav__list__item__icon__text">Home</span></i
          >
        </li>
        <li (click)="onClick('login')" class="nav__list__item">
          <i class="fa-solid fa-arrow-right-to-bracket nav__list__item__icon"
            ><span class="nav__list__item__icon__text">Login</span></i
          >
        </li>
        <li (click)="onClick('admin')" class="nav__list__item">
          <i class="fa-solid fa-lock nav__list__item__icon"
            ><span class="nav__list__item__icon__text">Admin</span></i
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
