@import "../../scss/variables";
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  display: block;

  background-color: rgba($color-black, $alpha: 0.9);
  z-index: 17;
}

