<section class="upload-section">
  <div class="container">
    <app-card>
      <div class="title">
        <h4 class="heading-4">Cadastrar Produto</h4>
      </div>
      <form class="form" [formGroup]="uploadForm" (submit)="onSubmit()">
        <div class="form-control">
          <label class="form-control__label" for="category">*tipo:</label>
          <select
            class="control-select"
            formControlName="category"
            id="category"
          >
            <option
              *ngFor="let category of productCategories"
              [value]="category?.name"
            >
              {{ category?.name | uppercase }}
            </option>
          </select>
        </div>

        <div class="form-control">
          <label class="form-control__label" for="condition"
            >*estado de conservação:</label
          >
          <select
            class="control-select"
            formControlName="condition"
            id="condition"
            required
          >
            <option selected value="false">NOVO</option>
            <option value="true">USADO</option>
          </select>
        </div>

        <div class="form-control">
          <label class="form-control__label" for="name">*nome:</label>
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="name"
            id="name"
            required
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="description">descrição do produto:</label>
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="description"
            id="description"
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="short_description"
            >descrição whatsapp</label
          >
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="short_description"
            id="short_description"
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="price"
            >*preço [Varejo]:</label
          >
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="price"
            id="price"
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="wholesale"
            >preço [Atacado]:</label
          >
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="wholesale"
            id="wholesale"
          />
        </div>

        <div class="form-control">
          <label class="form-control__label" for="payment-method"
            >condições de pagamento:</label
          >
          <input
            class="control-input control-input--email"
            type="text"
            formControlName="payment_method"
            id="payment-method"
          />
        </div>
        <div class="form-control">
          <label class="form-control__label" for="price">*foto:</label>
          <input type="file" (change)="onFileChange($event)" id="" />
        </div>
        <div class="form-control">
          <button class="btn" type="submit" [disabled]="!uploadForm.valid">
            Cadastrar
          </button>
        </div>
      </form>
    </app-card>
  </div>
</section>
<div class="loader" [ngClass]="{ 'loader--active': loaderActive }">
  <div class="loader__container">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
