<h4 mat-dialog-title class="heading-3">Atualizar dados Produto</h4>

<mat-dialog-content>
  <form [formGroup]="uploadForm" class="form">
    <div class="form-control">
      <label class="form-control__label" for="category">tipo:</label>
      <select class="control-select" formControlName="category" id="category">
        <option *ngFor="let category of productCategories" [value]="category?.name">
          {{ category?.name }}
        </option>
      </select>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="condition"
        >estado de conservacão:</label
      >
      <select class="control-select" formControlName="condition" id="condition">
        <option selected value="false">Novo</option>
        <option value="true">Usado</option>
      </select>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="name">nome:</label>
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="name"
        id="name"
      />
    </div>

    <div class="form-control">
      <label class="form-control__label" for="description"
        >descrição do produto:</label
      >
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="description"
        id="description"
      />
    </div>

    <div class="form-control">
      <label class="form-control__label" for="short_description"
        >descrição whatsapp</label
      >
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="short_description"
        id="short_description"
      />
    </div>

    <div class="form-control">
      <label class="form-control__label" for="price">preço[Varejo]:</label>
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="price"
        id="price"
      />
    </div>

    <div class="form-control">
      <label class="form-control__label" for="wholesale">preço[Atacado]:</label>
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="wholesale"
        id="wholesale"
      />
    </div>

    <div class="form-control">
      <label class="form-control__label" for="payment-method"
        >condições de pagamento:</label
      >
      <input
        class="control-input control-input--email"
        type="text"
        formControlName="payment_method"
        id="payment-method"
      />
    </div>
  </form>
  <div
    class="loader-content"
    [ngClass]="{ 'loader-content--active': showLoading }"
  >
    <span class="loader"></span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>
